*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.header-cash-ui{
    font-size: 30px;
}

.cash-text-flurbo-sign{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: sans-serif;
    font-weight: 900;
}

.cash-text{
    font-family: 'Lilita One', cursive;
}

h1,h2,h3,h4,h5{
    font-family: 'Lilita One', cursive;
}

.header-container{
    height: 100px;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 100;
}

.background-image-container{
    position: fixed;
    left: 50%;
}

.background-image{
    position: relative;
    height: 100vh;
    left: -50%;
}

.character-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    /* overflow: hidden; */
}

.character-left{
    position: fixed;
    /* left: 0; */
    top: 50vh;
    left: -60px;
    /* overflow-x: hidden; */
}

.character-right{
    position: fixed;
    right: 150px;
    top: 50vh;
    /* overflow-x: hidden; */
}

.character-image-container{
    position: fixed;  
    height: 50vh;
    width: 100vw;
    /* overflow-x: hidden; */
}

.character-image{
    /* position: relative;   */
    width: 100%;  
    max-width: 400px;
    /* overflow-x: hidden; */
}

.main-menu-container{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 200;
}

.main-menu-button-container
{
    padding: 0 0 10px 0;
}

.main-menu-button, .main-menu-sub-button{
    border: 1px solid black;
    border-radius: 3px;
}

.main-menu-button{
    height: 80px;
    width: 120px;
}

.main-menu-sub-button{
    height: 60px;
    width: 80px;
    transform: rotate(90deg);
}


.fade-appear{
    opacity: 0;
}

.fade-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.fade-exit-done{
    opacity: 0;
}


.fade-enter{
    opacity: 0;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.fade-leave{
    opacity: 1;
}

.fade-leave-active{
    opacity: 0;
    transition: opacity 500ms ease-out;
}