*{
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.header-cash-ui{
    font-size: 30px;
}

.cash-text-flurbo-sign{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: sans-serif;
    font-weight: 900;
}

.cash-text{
    font-family: 'Lilita One', cursive;
}

h1,h2,h3,h4,h5{
    font-family: 'Lilita One', cursive;
}

.header-container{
    height: 100px;
    width: 100vw;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    color: white;
    z-index: 100;
}

.background-image-container{
    position: fixed;
    left: 50%;
}

.background-image{
    position: relative;
    height: 100vh;
    left: -50%;
}

.character-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 90;
}

.character-left{
    position: fixed;
    bottom: 40vh;
    left: -60px;
}

.character-right{
    position: fixed;
    display: flex;
    justify-content: flex-start;
    right: 35vw;
    bottom: 40vh;
}

.character-image-container{
    position: fixed;  
    height: 40vh;
    width: 100vw;
}

.character-image-container-type-two{
    position: fixed;  
    height: 40vh;
    width: calc(35vw - 25px);
    max-width: 300px;
}

.character-image{
    width: 100%;  
    max-width: 400px;
}

.character-image-type-two{
    width: 100%;  
    max-width: 300px;
    margin: 0 10px 0 0;
    border: 10px solid black;
}

.main-menu-container{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    overflow: scroll;
}

.main-menu-button-container
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 0 5px 0;
    height: 70px;
    width: 240px;
}

.main-menu-button, .main-menu-side-button{
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
}

.main-menu-button{
    height: 70px;
    width: 140px;
    font-size: 20px;
}

.main-menu-side-button{
    height: 70px;
    width: 45px;
}

.main-menu-side-button.sub span{
    display: block;
    transform: rotate(80deg);
}

.trade-button-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.trade-button-column-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    background-color: cadetblue;
    text-align: left;
}

.trade-button-column-two{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-color: chartreuse;
    text-align: left;
}

.trade-button-ticker{
    font-size: 25px;
    margin: 2px;
}

.trade-button-name{
    font-size: 10px;
    margin: 2px;
}

.trade-button-price{
    text-align: right;
    font-size: 18px;
    margin: 2px;
}

.trade-button-detail-container{
    display: flex;
}

.trade-button-detail-label{
    font-size: 9px;
    text-align: left;
    background-color: cornflowerblue;
    width: 100%;
    margin: 2px;
}
.trade-button-detail{
    font-size: 9px;
    text-align: right;
    margin: 2px;
}

.portal-image-container-container{
    display: flex;
    justify-content: center;
}

.portal-image-container{
    position: fixed;
    animation: portal-grow-shrink 5s ease-in-out infinite;
    transform-origin: center center;
}

.portal-image{
    position: relative;
    height: 100vh;
    animation: portal-twirl 5s linear infinite;
    transform-origin: center center;
}

.onboarding-container
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.onboarding-char-container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.onboarding-char-image{
    max-width: 200px;
    margin: 10px;
}

.onboarding-rick-container{

}

.onboarding-morty-container
{
    margin: 20px 0 0 0;
}

.onboarding-button{
    width: 100px;
    height: 50px;
    font-size: 30px;
}

@media only screen 
    and (orientation: landscape)
  {
    body{
        background-color:red;
        
    }
    .cash-text{
        color: greenyellow;
    }
  }

  @keyframes portal-twirl
  {
      0%{
        transform: rotate(0deg);
      }
      50%{
        transform: rotate(180deg);
      }
      100%{
        transform: rotate(360deg);
      }
  }

  @keyframes portal-grow-shrink
  {
      0%{
        transform: scale(0.9);
      }
      50%{
        transform: scale(2.1);
      }
      100%{
        transform: scale(0.9);
      }
  }


/* .fade-appear{
    opacity: 0;
}

.fade-appear.fade-appear-active{
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.fade-exit{
    opacity: 1;
}

.fade-exit.fade-exit-active{
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.fade-exit-done{
    opacity: 0;
}


.fade-enter{
    opacity: 0;
}

.fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-out;
}

.fade-leave{
    opacity: 1;
}

.fade-leave-active{
    opacity: 0;
    transition: opacity 500ms ease-out;
} */